body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: flex;
    aspect-ratio: 1;
}

.grid{
    aspect-ratio: 1;
    background-color: white;
    transition: background-color cubic-bezier(0, 0.52, 1, 1) 1s;
}

.grid:hover{
    background-color: blue;
    transition-duration: 100ms;
}